/*********************************************************************************************************************
*
*                                               ASD FRAMEWORK
*
**********************************************************************************************************************/

.asd-clear {
    clear:both;
    height: 0px;
    font-size: 0px;
}

.asd-wrap {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    overflow: hidden;
}

.asd-left {
    float: left;
}

.asd-right {
    float: right;
}

/****************************** IMAGE ******************************/

.asd-img-fit {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
}

.asd-img-width {
    display: block;
    width: 100%;
    height: auto;
}

.asd-img-height {
    display: block;
    width: auto;
    height: 100%;
}

/******************************* TEXT ******************************/

.asd-text-center-1 {
    display: table;
    width: 100%;
    height: 100%;
    font: inherit;
}

.asd-text-center-2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font: inherit;
}

/***************************** POSITION ****************************/

.asd-pos-center {
    position: absolute;
    display: block;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
}

.asd-pos-top-center {
    position: absolute;
    display: block;
    top: 100px;
    left: 0; right: 0;
    margin: 0 auto;
}

/********************************* POPUP ********************************/

.asd-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    z-index: 10000;
}

.asd-overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0; top: 0;

    background: #000000;
    opacity: 0.80;
    filter: alpha(opacity=80);
}














