/* =====================================================================
					        MAIN STYLE
======================================================================== */

@import url("reset.css");
@import url("fonts.css");
@import url("asd.css");

html, body { position: relative; }
html, body, .b-main_wrap { width: 100%; height: 100%; min-width: 300px; min-height: 300px; }

a { color: inherit; outline: none; font: inherit; }
body { font-family: 'helvetica-light', Arial, sans-serif; background: white; }

h1 { margin-bottom: 20px; font: normal 46px 'helvetica-thin', Arial, sans-serif; }
h2 { margin-bottom: 15px; font: normal 36px 'helvetica-thin', Arial, sans-serif; }
h3 { margin-bottom: 15px; font: normal 32px 'helvetica-thin', Arial, sans-serif; }
h4 { margin-bottom: 15px; font: normal 28px 'helvetica-thin', Arial, sans-serif; }
h5 { margin-bottom: 15px; font: normal 24px 'helvetica-thin', Arial, sans-serif; }
h6 { margin-bottom: 15px; font: normal 20px 'helvetica-thin', Arial, sans-serif; }

.b-wrap { width: 1160px; left: 0; right: 0; margin: 0 auto; }

.b-main_content {  }
.b-menu_content { margin-left: 100%; }

.drag-n-drop { position: absolute; left: 0; top: 0; cursor: pointer; }

/******************************************* HEADER *********************************************/

.b-preloader_wrap { height: 3px; }
.b-preloader { width: 0; background: #f80000; }

.b-header { overflow: visible; }
.b-header_height { height: 220px; overflow: visible; }
.b-header_height_in { overflow: visible; top: -100%; }

.b-header_logo { float: left; padding-top: 73px; }
.b-header_logo a { font: normal 65px 'helvetica-bold', Arial, sans-serif; color: #f80000; display: block; }
.b-header_logo a img { display: block; width: 100%; height: auto; }

.b-menu_button { display: none; float: right; padding-top: 28px; cursor: pointer; }
.b-menu_button span { display: block; width: 32px; height: 4px; margin-top: 6px; background: #f80000; }
.b-menu_button span:first-child { margin-top: 0px; }

.b-menu { float: right; padding-top: 100px; }
.b-menu_item { float: left; margin-left: 30px; }
.b-menu_item:first-child { margin-left: 0px; }
.b-menu_item a { font: normal 18px 'helvetica-light', Arial, sans-serif; }
.b-menu_item.b-menu_item_selected a, .b-menu_item:hover a { color: #f80000; }

/***************************************** RIGHT MENU *********************************************/

.b-menu_column_left {  }
.b-menu_column_right {  }

.b-menu_content .b-menu { float: none; }
.b-menu_content .b-header_logo { float: none; }

.b-socials { display: none; }
.b-social_item {  }
.b-social_item a { font: normal 16px 'helvetica-light', Arial, sans-serif; color: #cfcfcf; }

/****************************************** CONTENT **********************************************/

/*------------ COMMON -----------*/
.b-content { top: auto; bottom: 0; }
.b-content_in { background: #111518; z-index: 5; }
.b-content_overlay { width: 110%; height: 110%; }

.b-content_title { font: normal 36px 'helvetica-thin', Arial, sans-serif; color: #f80000; }
.b-content_descr { font: normal 23px 'helvetica-light', Arial, sans-serif; color: #ffffff; line-height: 1.3; }
.b-content_descr span { font: inherit; line-height: inherit; }

/*------------ INDEX -----------*/
.b-height_main { height: 15%; }

.b-content_title_main {
    -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 30px, 0); opacity: 0;
    -webkit-transition: -webkit-transform 300ms ease-out, opacity 300ms ease-out; transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.b-animate .b-content_title_main { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

.b-content_descr_main {
    -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 30px, 0); opacity: 0;
    -webkit-transition: -webkit-transform 300ms ease-out 100ms, opacity 300ms ease-out 100ms; transition: transform 300ms ease-out 100ms, opacity 300ms ease-out 100ms;
}
.b-animate .b-content_descr_main { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

.b-content_socials {  }

.b-content_social_title {
    float: left; font: normal 17px 'helvetica-light', Arial, sans-serif; margin-right: 70px; color: #6e6e6e;
    -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 30px, 0); opacity: 0;
    -webkit-transition: -webkit-transform 300ms ease-out 200ms, opacity 300ms ease-out 200ms; transition: transform 300ms ease-out 200ms, opacity 300ms ease-out 200ms;
}
.b-animate .b-content_social_title { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

.b-content_social {
    float: left; margin-right: 30px;
    -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 30px, 0); opacity: 0;
    -webkit-transition: -webkit-transform 300ms ease-out 300ms, opacity 300ms ease-out 300ms; transition: transform 300ms ease-out 300ms, opacity 300ms ease-out 300ms;
}
.b-animate_social.b-content_social { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

.b-content_social a { font: normal 18px 'helvetica-medium', Arial, sans-serif; color: #f80000; }
.b-content_social a:hover { color: #ffffff; }

.b-content_socials_main {  }

/*------------ CONTACTS -----------*/
.b-height_contacts_1 { height: 77%; position: relative; min-height: 300px; max-height: 530px; }
.b-height_contacts_2 { height: 88%; position: relative; min-height: 523px; max-height: 700px; }
.b-height_contacts_in { position: absolute; bottom: 0; left: 0; width: 100%; }

.b-content_title_contacts {
    margin-bottom: 70px;
    -webkit-transform: translate3d(0, 20px, 0); transform: translate3d(0, 20px, 0); opacity: 0;
    -webkit-transition: -webkit-transform 500ms ease-out, opacity 500ms ease-out; transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.b-height_contacts_2 .b-content_title_contacts { margin-bottom: 25px; }
.b-animate .b-content_title_contacts { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

.b-content_descr_contacts {
    margin-top: 30px; width: 70%;
    -webkit-transform: translate3d(0, 20px, 0); transform: translate3d(0, 20px, 0); opacity: 0;
    -webkit-transition: -webkit-transform 500ms ease-out 200ms, opacity 500ms ease-out 200ms; transition: transform 500ms ease-out 200ms, opacity 500ms ease-out 200ms;
}
.b-animate .b-content_descr_contacts { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

.b-contact { margin-top: 50px; }
.b-height_contacts_2 .b-contact { margin-top: 40px; }

.b-contacts_column { float: left; width: 42%; }
.b-contacts_column_left { float: left; }
.b-contacts_column_right { float: right; }


/*------------ CLIENTS -----------*/
.b-clients_wrap { text-align: center; font-size: 0; }

.b-height_clients_1 { height: 0; }
.b-height_clients_2 { display: none; }
.b-height_clients_3 { height: 0; clear: both; }

.b-clients_award_wrap { position: absolute; left: 0; right: 0; top: 0; bottom: 90px; height: 250px; width: 100%; margin: auto; text-align: center; }

.b-clients_column { float: none; display: inline-block; font-size: 0; text-align: center; }
.b-clients_column_left {  }
.b-clients_column_right { margin-left: 110px; }

.b-clients_award {
    display: inline-block; /*width: 270px;*/ margin-left: 110px;
    -webkit-transform: perspective(500px) rotateY(90deg); transform: perspective(500px) rotateY(90deg);
}
.b-clients_award:first-child { margin-left: 0; }

.b-clients_award_1 { -webkit-transition: -webkit-transform 500ms ease-out; transition: transform 500ms ease-out; }
.b-clients_award_2 { -webkit-transition: -webkit-transform 500ms ease-out 200ms; transition: transform 500ms ease-out 200ms; }
.b-clients_award_3 { -webkit-transition: -webkit-transform 500ms ease-out 400ms; transition: transform 500ms ease-out 400ms; }
.b-clients_award_4 { -webkit-transition: -webkit-transform 500ms ease-out 600ms; transition: transform 500ms ease-out 600ms; }
.b-animate .b-clients_award { -webkit-transform: perspective(500px) rotateY(0deg); transform: perspective(500px) rotateY(0deg); }

.b-clients_award_img {  }
.b-clients_award_img img { display: block; width: auto; height: auto; }

.b-clients_award_content {
    margin-top: 10px; position: relative; height: 78px; /*padding: 0 75px;*/ opacity: 0; filter:alpha(opacity=0);
    -webkit-transition: opacity 500ms ease-out; -moz-transition: opacity 500ms ease-out; transition: opacity 500ms ease-out;
}
.b-clients_award:hover .b-clients_award_content { opacity: 1; filter:alpha(opacity=100); }

/*.b-clients_award_branch { position: absolute; height: 100%; top: 0; width: auto; }
.b-clients_award_branch img { height: 100%; width: auto; display: block; }
.b-clients_award_branch_left { left: 40px; }
.b-clients_award_branch_right { right: 40px; }*/

.b-clients_award_text { position: relative; font: normal 18px 'helvetica-light', Arial, sans-serif; color: white; }

.b-clients_list {
    text-align: center; position: absolute; margin: 0 auto; left: 0; right: 0; bottom: 40px;
    -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0);
    -webkit-transition: -webkit-transform 500ms ease-out; transition: transform 500ms ease-out;
}
.b-animate .b-clients_list { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.b-clients_list_item { display: inline-block; }
.b-clients_list_item img, .b-clients_list_item_iphone_hor img, .b-clients_list_item_iphone_vert img { width: 100%; height: auto; display: block; }
.b-clients_list_item_iphone_hor { display: none; }
.b-clients_list_item_iphone_vert { display: none; }

/*------------ SERVICES -----------*/
.b-height_services { }
.b-height_services_1 { height: 65%; position: relative; max-height: 540px; min-height: 330px; }

.b-services_slider { overflow: visible; }

.b-services_slider_content { position: absolute; bottom: 0; left: 0; width: 100%; }

.b-services_slider_img {
    position: absolute; right: 50px; bottom: 0; width: 350px;
    -webkit-transform: translate3d(250px, 0, 0); transform: translate3d(250px, 0, 0); opacity: 0;
    -webkit-transition: -webkit-transform 500ms ease-out 400ms, opacity 500ms ease-out 400ms; transition: transform 500ms ease-out 400ms, opacity 500ms ease-out 400ms;
}
.b-animate .b-services_slider_img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

.b-services_slider_img img { display: block; width: 100%; height: auto; }

.b-services_slider_text {
    float: left; width: 45%;
    -webkit-transform: translate3d(250px, 0, 0); transform: translate3d(250px, 0, 0); opacity: 0;
    -webkit-transition: -webkit-transform 500ms ease-out 200ms, opacity 500ms ease-out 200ms; transition: transform 500ms ease-out 200ms, opacity 500ms ease-out 200ms;
}
.b-animate .b-services_slider_text { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

.b-content_descr_services { margin-top: 100px; }

.b-services_slider_buttons {
    text-align: left; font-size: 0; margin-top: 70px;
    -webkit-transform: translate3d(0, 250px, 0); transform: translate3d(0, 250px, 0); opacity: 0;
    -webkit-transition: -webkit-transform 500ms ease-out, opacity 500ms ease-out; transition: transform 500ms ease-outs, opacity 500ms ease-out;
}
.b-animate .b-services_slider_buttons { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

.b-services_slider_button { display:inline-block; width: 50px; height: 50px; text-align: center; font-size: 0; }
.b-services_slider_button span {
    display: inline-block; width: 15px; height: 15px; border: 2px solid #464646; vertical-align: top; margin: 16px 0 0; border-radius: 50%;
    -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; transition: all 300ms ease-out;
}
.b-services_slider_button:first-child span { margin-left: 0; }
.b-services_slider_button:hover span { border-color: #f80000; }
.b-services_slider_button_active span { width: 45px; height: 45px; border: 2px solid #f80000; margin-top: 0; }
/* IE FIX */
.html-ie_old .b-services_slider_button span { background: #171717; }

/*------------- WORKS -------------*/
.b-height_works_1 { height: 78%; position: relative; max-height: 700px; min-height: 475px; }
.b-works_content { position: absolute; bottom: 0; left: 0; width: 100%; }

.b-work_slides {  }

.b-work_slides_grey { -webkit-transition: opacity 500ms ease-out; -moz-transition: opacity 500ms ease-out; transition: opacity 500ms ease-out; }
.b-work_slideshow .b-work_slides_grey { opacity: 0; filter:alpha(opacity=0); }

.b-work { overflow: auto; padding: 0 3px; }

.b-content_title_works {
    font-size: 16px; line-height: 1;
    -webkit-transition: opacity 500ms ease-out; -moz-transition: opacity 500ms ease-out; transition: opacity 500ms ease-out;
}
.b-work_slideshow .b-content_title_works { opacity: 0; filter:alpha(opacity=0); }

.b-content_descr_works {
    font-size: 14px; margin-top: 10px;
    -webkit-transition: opacity 500ms ease-out; -moz-transition: opacity 500ms ease-out; transition: opacity 500ms ease-out;
}
.b-work_slideshow .b-content_descr_works { opacity: 0; filter:alpha(opacity=0); }

.b-works_buttons { margin-top: 70px; font-size: 0; }

.b-works_button {
    display: inline-block; border: 1px solid #f80000; font: normal 28px 'helvetica-bold', Arial, sans-serif; color: #f80000; margin: 0 20px 10px 0;
    position: relative; overflow: hidden; vertical-align: top; height: 65px;
}
.b-works_button_white { border: 1px solid white; color: white; }

.b-works_button_pc { display: inline-block; }
.b-works_button_mobile { display: none; }

.b-works_button_1 { width: 355px; }
.b-works_button_2 { width: 255px; }
.b-works_button_3 {  }

.b-works_button_in { position: relative; margin-top: 19px; }

.b-works_button span {
    font: inherit; color: inherit; display: block; width: 100%; top: 0; left: 0; position: absolute; text-align: center;
    -webkit-transition: top 300ms ease-out; -moz-transition: top 300ms ease-out; transition: top 300ms ease-out;
}
.b-works_button .b-works_button_top_text { top: 0; }
.b-works_button:hover .b-works_button_top_text, .b-works_button_hover .b-works_button_top_text { top: -70px; }
.b-works_button .b-works_button_bottom_text { top: 70px; }
.b-works_button:hover .b-works_button_bottom_text, .b-works_button_hover .b-works_button_bottom_text { top: 0; }

.b-works_projects_list_btn {
    padding: 0 0 0 40px; font: normal 18px 'helvetica-thin', Arial, sans-serif; color: #f80000; display: none;
    background: url('../img/projects-list-btn.png') left center no-repeat; background-size: contain; position: absolute; top: 40px; left: 0;
    -webkit-transition: opacity 500ms ease-out; -moz-transition: opacity 500ms ease-out; transition: opacity 500ms ease-out;
}
.b-work_slideshow .b-works_projects_list_btn { opacity: 0; filter:alpha(opacity=0); }

.b-works_scroll_next {
    position: absolute; bottom: 30px; left: 0; padding: 0 0 0 35px; font: normal 12px 'helvetica-light', Arial, sans-serif; color: white; line-height: 1;
    background: url('../img/projects-scroll.png') left center no-repeat; background-size: contain; display: none;
    -webkit-transition: opacity 500ms ease-out; -moz-transition: opacity 500ms ease-out; transition: opacity 500ms ease-out;
}
.b-work_slideshow .b-works_scroll_next { opacity: 0; filter:alpha(opacity=0); }
/* IE FIX */
/*.html-ie_old .b-works_projects_list_btn { background: url('../img/projects-list-btn-min.png') left center no-repeat; }
.html-ie_old .b-works_scroll_next { background: url('../img/projects-scroll-min.png') left center no-repeat; }*/

/*------------- PROJECTS ------------*/
.b-projects_wrap_in { position: relative; width: 105%; height: 100%; overflow-y: scroll; overflow-x: hidden; /*background: #111518;*/ }

.b-project { float: left; width: 300px; height: 200px; position: relative; }
.b-project_panel_bg { background: #000000; opacity: 0.01; filter:alpha(opacity=1); }

.b-project_panel {
    border: 3px solid #f80000; opacity: 0; cursor: pointer;
    -webkit-transition: opacity 300ms ease-out; -moz-transition: opacity 300ms ease-out; transition: opacity 300ms ease-out;
}
.b-project:hover .b-project_panel { opacity: 1; }

/*.b-project_overlay { opacity: 0.6; filter: alpha(opacity=60); }*/
.b-project_overlay, .b-project_grey_img {
    -webkit-transition: opacity 300ms ease-out; -moz-transition: opacity 300ms ease-out; transition: opacity 300ms ease-out;
}
/*.b-project:hover .b-project_overlay, .b-project:hover .b-project_grey_img { opacity: 0; }*/
.b-project_unhover .b-project_panel/*, .b-project_unhover .b-project_overlay, .b-project_unhover .b-project_grey_img*/ { opacity: 0 !important; }

/* IE FIX */
.html-ie_old .b-project_panel { display: none; }
.html-ie_old .b-project_panel_wrap:hover .b-project_panel { display: block; }
/* MOBILE FIX */
/*.html-mobile .b-project_panel { display: block; opacity: 1; border: 3px solid transparent; }*/

.b-project_panel_in { position: absolute; bottom: 0; left: 0; padding: 0 10% 8%; }
.b-project_panel_text { font: normal 32px 'helvetica-light', Arial, sans-serif; color: #f80000; }




















