/******************************************* IPAD ******************************************/

/*************** ALL ******************/
@media only screen and (min-width: 581px) and (max-width: 1200px) {

    .b-wrap { width: auto; padding-left: 50px; padding-right: 50px; }

    /*------ HEADER -------*/
    .b-header_height { height: 125px; }

    .b-header_logo { padding-top: 45px; }
    .b-header_logo a { font-size: 32px; }
    .b-header_logo a img { width: 116px; }

    .b-menu { padding-top: 50px; }

    /*------ CONTENT ------*/
    .b-height_main { height: 12%; }

    .b-content_title { font-size: 46px; }
    .b-content_descr { font-size: 22px; line-height: 1.2; }
    .b-content_descr span { display: block; margin-top: 20px; }

    /*------------ CONTACTS -----------*/
    .b-height_contacts_1 { height: 77%; position: relative; min-height: 350px; max-height: 500px; }
    .b-height_contacts_2 { height: 82%; position: relative; min-height: 555px; max-height: 675px; }

    .b-content_descr_contacts { font-size: 26px; width: 80%; }

    /*------------ CLIENTS -----------*/
    .b-height_clients_1 { height: 0; }
    .b-height_clients_2 { height: 20%; display: block; }
    .b-height_clients_3 { height: 0; }

    .b-clients_award_wrap { bottom: 90px; height: 370px; width: 100%; }

    .b-clients_award { /*width: 220px;*/ }
    .b-clients_award:first-child { margin-left: 0; }
    .b-clients_column_right { margin-left: 0px; }

    .b-clients_award_img img { height: 148px; }

    .b-clients_award_content { display: none; }

    /*.b-clients_award_branch { height: 50%; top: 25%; }
    .b-clients_award_branch_left { left: -20px; }
    .b-clients_award_branch_right { right: -20px; }

    .b-clients_award_text { font-size: 20px; }*/

    .b-clients_list_item { width: 600px; }

    /*------------ SERVICES -----------*/
    .b-services_slider_img { right: 80px; bottom: 150px; width: 200px; }
    .b-services_slider_text { width: 60%; }

    .b-services_slider_button { width: 72px; height: 72px; }
    .b-services_slider_button span { width: 30px; height: 30px; border: 1px solid #464646; margin: 19px 0 0; }
    .b-services_slider_button_active span { width: 70px; height: 70px; border: 1px solid #f80000; margin-top: 0; }

    /*------------- WORKS -------------*/
    .b-height_works_1 { height: 72%; max-height: 700px; min-height: 385px; }

    .b-content_descr_works { font-size: 14px; margin-top: 20px; }
    .b-works_buttons { margin-top: 45px; }

    .b-works_button { height: 60px; font-size: 24px; margin-right: 30px; }
    .b-works_button_in { margin-top: 18px; }

    .b-works_button_pc { display: none; }
    .b-works_button_mobile { display: inline-block; }

    .b-works_button_1 {  }
    .b-works_button_2 { width: 235px; }
    .b-works_button_3 { width: 140px; }

    .b-works_projects_list_btn { display: block; padding: 0 0 0 45px; font-size: 22px; top: 40px; left: 50px; }
    .b-works_scroll_next { display: block; bottom: 30px; left: 50px; padding: 0 0 0 50px; font-size: 14px; }

    .b-project_panel_text { font-size: 21px; }
}



/*********** LANDSCAPE (1024) **********/
@media only screen and (min-width: 921px) and (max-width: 1200px) {

    /*------ CONTACTS ------*/
    .b-contacts_column_left { width: 39%; }
    .b-contacts_column_right { width: 53%; }

    /*------------ CLIENTS -----------*/
    .b-height_clients_1 { height: 0; }
    .b-height_clients_2 { display: none; }
    .b-height_clients_3 { height: 0; }

    .b-clients_award_wrap { height: 160px; }
    .b-clients_award { /*width: 225px;*/ margin-left: 45px; }
    .b-clients_column_right { margin-left: 45px; }

    /*------------- WORKS -------------*/
    /*.b-content_title_works { font-size: 150px; }*/
}



/************ PORTRAINT (768) ************/
@media only screen and (min-width: 731px) and (max-width: 920px) {

    /*------ CONTACTS ------*/
    .b-height_contacts_1 { height: 84%; position: relative; min-height: 455px; max-height: 550px; }
    .b-height_contacts_2 { height: 82%; position: relative; min-height: 655px; max-height: 700px; }

    .b-content_title_contacts { margin-bottom: 20px; }

    .b-contacts_column { float: none; width: auto; }
    .b-contacts_column_left { float: none; }
    .b-contacts_column_right { float: none; }

    .b-content_descr_contacts_left { float: left; width: 55%; }
    .b-content_descr_contacts_right { float: right; width: 39%; }

    /*------------ CLIENTS -----------*/
    .b-clients_award { margin-left: 120px; }
    .b-clients_award_2 { margin: 0 42px 0 220px; }

    /*------------ SERVICES -----------*/
    .b-height_services_1 { height: 66%; max-height: 640px; }
    .b-services_slider_img { right: 40px; bottom: 275px; width: 200px; }
    .b-services_slider_buttons { margin-top: 123px; }

    /*------------- WORKS -------------*/
    /*.b-content_title_works { font-size: 130px; }*/

}


/*************** OTHER ****************/
@media only screen and (min-width: 581px) and (max-width: 730px) {

    .b-wrap { padding-left: 25px; padding-right: 25px; }

    /*------ HEADER -------*/
    .b-header_height { height: 100px; }

    .b-header_logo { padding-top: 35px; }
    .b-header_logo a { font-size: 30px; }
    .b-header_logo a img { width: 102px; }

    .b-menu { padding-top: 40px; }
    .b-menu_item { margin-left: 15px; }
    .b-menu_item a { font-size: 16px; }

    /*------ CONTENT ------*/
    .b-content_title { font-size: 32px; }
    .b-content_descr { font-size: 18px; }

    .b-content_social_title { font-size: 15px; }
    .b-content_social a { font-size: 14px; }

    /*------------ CONTACTS -----------*/
    .b-height_contacts_1 { height: 82%; position: relative; min-height: 380px; max-height: 500px; }
    .b-height_contacts_2 { height: 83%; position: relative; min-height: 500px; max-height: 645px; }

    .b-content_title_contacts { margin-bottom: 15px; }
    .b-height_contacts_2 .b-content_title_contacts { margin-bottom: 0px; }

    .b-contacts_column { float: none; width: auto; }
    .b-contacts_column_left { float: none; }
    .b-contacts_column_right { float: none; }

    .b-content_descr_contacts { font-size: 22px; }
    .b-content_descr_contacts_left { float: left; width: 55%; }
    .b-content_descr_contacts_right { float: right; width: 39%; }

    /*------------ CLIENTS -----------*/
    .b-clients_award_img img { height: 129px; }

    .b-clients_list_item { width: 500px; }
    .b-clients_award { /*width: 200px;*/ margin-left: 80px; }
    .b-clients_award_2 { margin: 0 40px 0 160px; }

    /*------------ SERVICES -----------*/
    .b-services_slider_img { right: 40px; bottom: 230px; width: 170px; }

    /*------------- WORKS -------------*/
    .b-height_works_1 { height: 68%; min-height: 320px; }

    /*.b-content_title_works { font-size: 100px; }*/
    .b-works_button { font-size: 18px; height: 50px; }
    .b-works_button_in { margin-top: 16px; }

    .b-works_button_1 {  }
    .b-works_button_2 { width: 185px; }
    .b-works_button_3 { width: 115px; }

    .b-works_projects_list_btn { font-size: 18px; left: 25px; top: 25px; }
    .b-works_scroll_next { bottom: 25px; left: 25px;}
}















/******************************************* IPHONE ******************************************/

/*************** ALL ******************/
@media only screen and (max-width: 580px) {

    .b-wrap { width: auto; padding-left: 30px; padding-right: 30px; }

    /*------ HEADER -------*/
    .b-header { z-index: 100; height: 0; }
    .b-header_height { height: 0; }
    .b-header_height_in { top: -60px; }

    .b-header .b-header_logo { display: none; }

    .b-header .b-menu { display: none; }
    .b-menu_button { display: block; position: absolute; top: 0; right: 33px; }

    /*------ CONTENT ------*/
    .b-height_main { height: 11%; }

    .b-content_title { font-size: 24px; }
    .b-content_descr { font-size: 18px; }
    .b-content_descr span { display: block; margin-top: 20px; font-size: 10px; line-height: 1.2; }

    .b-content_socials { display: none; }

    .b-content_title_main { top: 9%; }
    .b-content_descr_main { top: 19%; }

    /*-------- CONTACTS ---------*/
    .b-height_contacts_1 { height: 100%; position: relative; min-height: 0; max-height: none; }
    .b-height_contacts_in { position: absolute; bottom: auto; left: 0; width: 100%; top: 28px; }

    .b-contact { margin-top: 0; }

    /*------------ CLIENTS -----------*/
    .b-height_clients_1 { height: 28%; }
    .b-height_clients_2 { display: none; }
    .b-height_clients_3 { height: 10%; }

    .b-clients_award_wrap { position: relative; height: auto; bottom: auto; }

    .b-clients_award { /*width: 105px;*/ margin-left: 0; }
    .b-clients_award:first-child { margin-left: 0; }
    .b-clients_column_right { margin-left: 0; }

    .b-clients_award_img img { height: 81px; }

    .b-clients_award_content { display: none; }

    /*.b-clients_award_branch { height: 100%; top: 0; }
    .b-clients_award_branch_left { left: -7px; }
    .b-clients_award_branch_right { right: -7px; }*/

    .b-clients_award_text { font-size: 9px; }

    .b-clients_list { position: relative; bottom: auto; }
    .b-clients_list_item { display: none; }

    /*------------ SERVICES -----------*/
    .b-height_services_1 { height: 100%; position: relative; max-height: none; min-height: 0; }

    .b-services_slider_content { position: absolute; bottom: auto; left: 0; width: 100%; top: 28px; }

    .b-services_slider_img { display: none; }
    .b-services_slider_text { float: none; width: auto; }

    .b-services_slider_buttons { margin-top: 0; text-align: center; position: absolute; bottom: 30px; left: 0; width: 100%; }
    .b-services_slider_button { width: 42px; height: 42px; }
    .b-services_slider_button span { width: 15px; height: 15px; border: 1px solid #464646; margin: 13px 0 0; }
    .b-services_slider_button_active span { width: 40px; height: 40px; border: 1px solid #f80000; margin-top: 0; }

    /*------------- WORKS -------------*/
    .b-height_works_1 { height: 68%; max-height: 700px; min-height: 250px; }

    .b-works_buttons { margin-top: 18px; }

    .b-works_button { font-size: 15px; margin-right: 10px; height: 35px; }
    .b-works_button_in { margin-top: 11px; }

    .b-works_button_pc { display: none; }
    .b-works_button_mobile { display: inline-block; }

    .b-works_button_1 {  }
    .b-works_button_2 { width: 135px; }
    .b-works_button_3 { width: 75px; }

    .b-works_projects_list_btn { display: block; padding: 0 0 0 30px; font-size: 15px; top: 33px; left: 30px; }
    .b-works_scroll_next { display: block; bottom: 20px; left: 30px; padding: 0 0 0 35px; font-size: 12px; }

    .b-project_panel_text { font-size: 16px; }

}

/********** LANDSCAPE (480) ***********/

@media only screen and (min-width: 441px) and (max-width: 580px) {

    html, body, .b-main_wrap { min-height: 280px; }

    /*------ CONTENT ------*/
    .b-height_main_1 { height: 28px; }

    /*-------- CONTACTS ---------*/
    .b-height_contacts_1 { height: 75%; position: relative; min-height: 285px; max-height: 400px; }
    .b-height_contacts_2 { height: 75%; position: relative; min-height: 310px; max-height: 490px; }

    .b-content_title_contacts { margin-bottom: 0px; }
    .b-height_contacts_2 .b-content_title_contacts { margin-bottom: 0px; }

    .b-height_contacts_2 .b-contact { margin-top: 10px; }
    .b-height_contacts_2 .b-contact:first-child { margin-top: 0; }

    .b-contacts_column { float: none; width: auto; }
    .b-contacts_column_left { float: none; }

    .b-contacts_column_right { float: none; margin-top: 25px; }
    .b-height_contacts_2 .b-contacts_column_right { margin-top: 10px; }

    .b-content_descr_contacts { margin-top: 25px; }
    .b-height_contacts_2 .b-content_descr_contacts { margin-top: 4px; }
    .b-content_descr_contacts_left { float: left; width: 58%; }
    .b-content_descr_contacts_right { float: right; width: 39%; }

    /*------- RIGHT MENU -------*/
    .b-menu_content .b-header_logo { float: none; position: absolute; left: 55%; bottom: 80%; padding: 0; }
    .b-menu_content .b-header_logo a { font: normal 32px 'helvetica-bold', Arial, sans-serif; }
    .b-menu_content .b-header_logo a img { width: 110px; }


    .b-menu_content .b-menu { float: none; position: absolute; left: 10%; bottom: 12%; padding: 0; height: 80%; width: 41%; }
    .b-menu_content .b-menu_item { float: none; margin: 0; padding: 0; position: absolute; bottom: 0; left: 0; }

    .b-menu_content .b-menu_item_1 { bottom: 88%; }
    .b-menu_content .b-menu_item_2 { bottom: 66%; }
    .b-menu_content .b-menu_item_3 { bottom: 44%; }
    .b-menu_content .b-menu_item_4 { bottom: 22%; }
    .b-menu_content .b-menu_item_5 { bottom: 0; }


    .b-socials { display: block; position: absolute; left: 55%; bottom: 12%; height: 50%; width: 40%; }
    .b-social_item { margin: 0; padding: 0; position: absolute; bottom: 0; left: 0; }

    .b-social_item_1 { bottom: 75%; }
    .b-social_item_2 { bottom: 50%; }
    .b-social_item_3 { bottom: 25%; }
    .b-social_item_4 { bottom: 0; }

    /*------------ CLIENTS -----------*/
    .b-clients_list_item_iphone_hor { display: inline-block; width: 390px; }

    /*------------ SERVICES -----------*/
    .b-content_descr_services { margin-top: 40px; }

    /*------------- WORKS -------------*/
    /*.b-content_title_works { font-size: 80px; }*/
    .b-content_descr_works { font-size: 10px; height: 12px; margin-top: 5px; }

}

/********* PORTRAIT (320) **********/

@media only screen and (max-width: 440px) {

    html, body, .b-main_wrap { min-height: 420px; }

    /*------ CONTENT ------*/
    .b-height_main_1 { height: 28px; }
    .b-height_main_2 { height: 7%; }

    .b-content_descr_main { line-height: 1.2; }

    /*-------- CONTACTS ---------*/
    .b-height_contacts_1 { height: 85%; position: relative; min-height: 375px; max-height: 445px; }
    .b-height_contacts_2 { height: 80%; position: relative; min-height: 450px; max-height: 700px; }

    .b-content_title_contacts { margin-bottom: 20px; }
    .b-height_contacts_2 .b-content_title_contacts { margin-bottom: 10px; }

    .b-height_contacts_2 .b-contact { margin-top: 15px; }
    .b-height_contacts_2 .b-contact:first-child { margin-top: 0; }

    .b-contacts_column { float: none; width: auto; }
    .b-contacts_column_left { float: none; }

    .b-contacts_column_right { float: none; margin-top: 30px; }
    .b-height_contacts_2 .b-contacts_column_right { margin-top: 15px; }

    .b-content_descr_contacts { margin-top: 20px; font-size: 16px; width: auto; }
    .b-height_contacts_2 .b-content_descr_contacts { margin-top: 10px; }
    .b-content_descr_contacts_left { float: none; }
    .b-content_descr_contacts_right { float: none; }

    /*------ RIGHT MENU ------*/
    .b-menu_content .b-header_logo { float: none; position: absolute; left: 20%; top: 5%; padding: 0; }
    .b-menu_content .b-header_logo a { font: normal 32px 'helvetica-bold', Arial, sans-serif; }
    .b-menu_content .b-header_logo a img { width: 110px; }


    .b-menu_content .b-menu { float: none; position: absolute; left: 20%; top: 18%; padding: 0; height: 39%; width: 75%; }
    .b-menu_content .b-menu_item { float: none; margin: 0; padding: 0; position: absolute; bottom: 0; left: 0; }

    .b-menu_content .b-menu_item_1 { bottom: 88%; }
    .b-menu_content .b-menu_item_2 { bottom: 66%; }
    .b-menu_content .b-menu_item_3 { bottom: 44%; }
    .b-menu_content .b-menu_item_4 { bottom: 22%; }
    .b-menu_content .b-menu_item_5 { bottom: 0; }


    .b-socials { display: block; position: absolute; left: 20%; bottom: 6%; height: 29%; width: 75%; }
    .b-social_item { margin: 0; padding: 0; position: absolute; bottom: 0; left: 0; }

    .b-social_item_1 { bottom: 75%; }
    .b-social_item_2 { bottom: 50%; }
    .b-social_item_3 { bottom: 25%; }
    .b-social_item_4 { bottom: 0; }

    /*------------ CLIENTS -----------*/
    .b-height_clients_1 { height: 18%; }
    .b-height_clients_2 { height: 8px; display: block; }
    .b-height_clients_3 { height: 4%; }

    .b-clients_award { /*width: 120px;*/ margin-left: 24px; }
    .b-clients_award_2 { margin: 0 25px 0 69px; }
    .b-clients_column_right { margin-left: 0; }

    .b-clients_award_img img { height: 75px; }

    .b-clients_list_item_iphone_vert { display: inline-block; width: 270px; }

    /*------------ SERVICES -----------*/
    .b-content_descr_services { margin-top: 60px; line-height: 1.4; }
    .b-services_slider_buttons { bottom: 55px; }

    /*------------- WORKS -------------*/
    /*.b-content_title_works { font-size: 50px; }*/
    .b-content_descr_works { font-size: 8px; height: 10px; margin-top: 5px; }

}
