.page-header{
    margin: 80px 0 20px;
}

h1 {
    font-size: 61;
    margin: 30px 10px 20px 60px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #34495e;
}

.preview img{
    width: 50px;
    height: 50px;
}

.row {
    margin-bottom: 15px;
}

.row img {
    width: 100px;
    height: 100px;
}

.left {
    display: inline-block;
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
}

.table .trId {
    width: 5%;
}

td a.update {
    margin-right: 8px;
}

.btn-toggle {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}